In [181]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore") 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format

In [182]:
df = pd.read_csv("Dados/EuropeSalesRecords.csv")

## Limpeza e Análise Exploratória dos Dados

In [183]:
df.shape

(1330, 14)

In [184]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          1330 non-null   object
 1   Country         1330 non-null   object
 2   Item Type       1330 non-null   object
 3   Sales Channel   1330 non-null   object
 4   Order Priority  1330 non-null   object
 5   Order Date      1330 non-null   object
 6   Order ID        1330 non-null   int64
 7   Ship Date       1330 non-null   object
 8   Units Sold      1330 non-null   int64
 9   Unit Price      1330 non-null   float64
 10  Unit Cost       1330 non-null   float64
 11  Total Revenue   1330 non-null   float64
 12  Total Cost      1330 non-null   float64
 13  Total Profit    1330 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 145.6+ KB

In [186]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
1,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
2,Europe,Austria,Cereal,Offline,C,8/13/2014,987410676,9/6/2014,5616,205.70,117.11,1155211.20,657689.76,497521.44
3,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081,11/29/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
4,Europe,Estonia,Fruits,Online,L,9/28/2016,579463422,11/1/2016,4958,9.33,6.92,46258.14,34309.36,11948.78

In [187]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1330.00,1330.00,1330.00,1330.00,1330.00,1330.00,1330.00
mean,541204760.24,4949.11,264.89,187.25,1280919.10,903719.06,377200.04
std,257388211.82,2904.11,217.32,176.16,1443064.55,1134845.46,368983.28
min,100640618.00,2.00,9.33,6.92,503.82,373.68,130.14
25%,319000434.75,2360.75,81.73,35.84,266116.89,157794.30,84822.94
50%,538716375.50,4958.00,154.06,97.44,761304.88,433223.28,273594.61
75%,754462754.00,7458.75,437.20,263.33,1742755.78,1108362.30,547658.18
max,999879729.00,9999.00,668.27,524.96,6672675.95,5248025.12,1700448.60

In [188]:
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [189]:
data_inicial = pd.to_datetime(df['Order Date']).dt.date.min().strftime('%d/%m/%Y')
data_final = pd.to_datetime(df['Order Date']).dt.date.max().strftime('%d/%m/%Y')
print('Período: ', data_inicial, ' até ', data_final)

Período:  01/01/2010  até  23/07/2017

In [190]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          1330 non-null   object
 1   Country         1330 non-null   object
 2   Item Type       1330 non-null   object
 3   Sales Channel   1330 non-null   object
 4   Order Priority  1330 non-null   object
 5   Order Date      1330 non-null   datetime64[ns]
 6   Order ID        1330 non-null   int64
 7   Ship Date       1330 non-null   datetime64[ns]
 8   Units Sold      1330 non-null   int64
 9   Unit Price      1330 non-null   float64
 10  Unit Cost       1330 non-null   float64
 11  Total Revenue   1330 non-null   float64
 12  Total Cost      1330 non-null   float64
 13  Total Profit    1330 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 145.6+ KB

In [192]:
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [193]:
unique_values = []
for i in df.columns[:15].tolist():
    print(i, ':', len(df[i].astype(str).value_counts()))
    unique_values.append(len(df[i].astype(str).value_counts()))

Region : 1
Country : 48
Item Type : 12
Sales Channel : 2
Order Priority : 4
Order Date : 1049
Order ID : 1330
Ship Date : 1070
Units Sold : 1240
Unit Price : 12
Unit Cost : 12
Total Revenue : 1323
Total Cost : 1323
Total Profit : 1323

In [194]:
# Renomear as colunas para português (PT-BR)
traducao_colunas = {
    'Region': 'Região',
    'Country': 'País',
    'Item Type': 'Tipo de Item',
    'Sales Channel': 'Canal de Vendas',
    'Order Priority': 'Prioridade do Pedido',
    'Order Date': 'Data do Pedido',
    'Order ID': 'ID do Pedido',
    'Ship Date': 'Data de Envio',
    'Units Sold': 'Unidades Vendidas',
    'Unit Price': 'Preço Unitário',
    'Unit Cost': 'Custo Unitário',
    'Total Revenue': 'Receita Total',
    'Total Cost': 'Custo Total',
    'Total Profit': 'Lucro Total'
}

# Aplicar a tradução
df = df.rename(columns=traducao_colunas)

In [195]:
df.sample(5)

,Região,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
747,Europe,Denmark,Clothes,Online,C,2014-07-21,539002406,2014-07-23,1645,109.28,35.84,179765.60,58956.80,120808.80
613,Europe,Russia,Beverages,Offline,M,2011-08-30,162791907,2011-10-19,2598,47.45,31.79,123275.10,82590.42,40684.68
389,Europe,Macedonia,Meat,Online,L,2017-02-12,796418511,2017-03-23,6791,421.89,364.69,2865054.99,2476609.79,388445.20
1056,Europe,Greece,Office Supplies,Offline,M,2013-04-02,516599738,2013-05-09,2197,651.21,524.96,1430708.37,1153337.12,277371.25
877,Europe,Georgia,Meat,Online,M,2011-04-18,913729751,2011-05-09,1793,421.89,364.69,756448.77,653889.17,102559.60

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Região                1330 non-null   object
 1   País                  1330 non-null   object
 2   Tipo de Item          1330 non-null   object
 3   Canal de Vendas       1330 non-null   object
 4   Prioridade do Pedido  1330 non-null   object
 5   Data do Pedido        1330 non-null   datetime64[ns]
 6   ID do Pedido          1330 non-null   int64
 7   Data de Envio         1330 non-null   datetime64[ns]
 8   Unidades Vendidas     1330 non-null   int64
 9   Preço Unitário        1330 non-null   float64
 10  Custo Unitário        1330 non-null   float64
 11  Receita Total         1330 non-null   float64
 12  Custo Total           1330 non-null   float64
 13  Lucro Total           1330 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 145.6+ KB

In [197]:
# Mapear os valores para as traduções desejadas
mapeamento_prioridades = {'M': 'Média', 'L': 'Baixa', 'H': 'Alta', 'C': 'Crítica'}

# Substituir os valores na coluna 'Prioridade do Pedido' para valores em português (PT-BR)
df['Prioridade do Pedido'] = df['Prioridade do Pedido'].replace(mapeamento_prioridades)

In [198]:
df.sample(5)

,Região,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
1310,Europe,Austria,Office Supplies,Offline,Crítica,2015-04-03,575552117,2015-04-26,7516,651.21,524.96,4894494.36,3945599.36,948895.00
974,Europe,France,Household,Online,Baixa,2011-06-16,367328155,2011-07-30,9419,668.27,502.54,6294435.13,4733424.26,1561010.87
794,Europe,Greece,Beverages,Online,Média,2011-05-25,642123687,2011-05-30,7523,47.45,31.79,356966.35,239156.17,117810.18
996,Europe,Latvia,Vegetables,Offline,Média,2016-10-05,486461150,2016-11-13,3519,154.06,90.93,542137.14,319982.67,222154.47
1147,Europe,Finland,Vegetables,Online,Baixa,2015-08-22,972452533,2015-10-04,9169,154.06,90.93,1412576.14,833737.17,578838.97

In [199]:
df['País'].unique()

array(['Czech Republic', 'Bosnia and Herzegovina', 'Austria', 'Bulgaria',
       'Estonia', 'Montenegro', 'Luxembourg', 'Switzerland', 'Finland',
       'Belgium', 'San Marino', 'Netherlands', 'Russia', 'Ukraine',
       'Latvia', 'Serbia', 'Portugal', 'Poland', 'Liechtenstein',
       'United Kingdom', 'Slovenia', 'Malta', 'Cyprus', 'Monaco',
       'Norway', 'Armenia', 'Denmark', 'Kosovo', 'Hungary', 'Lithuania',
       'Albania', 'Moldova ', 'France', 'Spain', 'Sweden', 'Macedonia',
       'Greece', 'Italy', 'Germany', 'Andorra', 'Iceland', 'Croatia',
       'Slovakia', 'Vatican City', 'Belarus', 'Ireland', 'Romania',
       'Georgia'], dtype=object)

In [200]:
# Dicionário de mapeamento
mapeamento_paises = {
    'Czech Republic': 'República Tcheca',
    'Bosnia and Herzegovina': 'Bósnia e Herzegovina',
    'Austria': 'Áustria',
    'Bulgaria': 'Bulgária',
    'Estonia': 'Estônia',
    'Montenegro': 'Montenegro',
    'Luxembourg': 'Luxemburgo',
    'Switzerland': 'Suíça',
    'Finland': 'Finlândia',
    'Belgium': 'Bélgica',
    'San Marino': 'San Marino',
    'Netherlands': 'Países Baixos',
    'Russia': 'Rússia',
    'Ukraine': 'Ucrânia',
    'Latvia': 'Letônia',
    'Serbia': 'Sérvia',
    'Portugal': 'Portugal',
    'Poland': 'Polônia',
    'Liechtenstein': 'Liechtenstein',
    'United Kingdom': 'Reino Unido',
    'Slovenia': 'Eslovênia',
    'Malta': 'Malta',
    'Cyprus': 'Chipre',
    'Monaco': 'Mônaco',
    'Norway': 'Noruega',
    'Armenia': 'Armênia',
    'Denmark': 'Dinamarca',
    'Kosovo': 'Kosovo',
    'Hungary': 'Hungria',
    'Lithuania': 'Lituânia',
    'Albania': 'Albânia',
    'Moldova ': 'Moldávia',
    'France': 'França',
    'Spain': 'Espanha',
    'Sweden': 'Suécia',
    'Macedonia': 'Macedônia',
    'Greece': 'Grécia',
    'Italy': 'Itália',
    'Germany': 'Alemanha',
    'Andorra': 'Andorra',
    'Iceland': 'Islândia',
    'Croatia': 'Croácia',
    'Slovakia': 'Eslováquia',
    'Vatican City': 'Cidade do Vaticano',
    'Belarus': 'Bielorrússia',
    'Ireland': 'Irlanda',
    'Romania': 'Romênia',
    'Georgia': 'Geórgia'
}

# Substituir os valores na coluna 'País' por valores em português (PT-BR)
df['País'] = df['País'].replace(mapeamento_paises)

In [201]:
df['Tipo de Item'].unique()

array(['Beverages', 'Clothes', 'Cereal', 'Office Supplies', 'Fruits',
       'Vegetables', 'Meat', 'Snacks', 'Baby Food', 'Household',
       'Cosmetics', 'Personal Care'], dtype=object)

In [202]:
# Dicionário de mapeamento para os tipos de item
mapeamento_tipos_item = {
    'Beverages': 'Bebidas',
    'Clothes': 'Roupas',
    'Cereal': 'Cereais',
    'Office Supplies': 'Material de Escritório',
    'Fruits': 'Frutas',
    'Vegetables': 'Vegetais',
    'Meat': 'Carne',
    'Snacks': 'Lanches',
    'Baby Food': 'Alimentos para Bebês',
    'Household': 'Produtos Domésticos',
    'Cosmetics': 'Cosméticos',
    'Personal Care': 'Cuidados Pessoais'
}

# Substituir os valores na coluna 'Tipo de Item' por valores em português (PT-BR)
df['Tipo de Item'] = df['Tipo de Item'].replace(mapeamento_tipos_item)

In [203]:
df.sample(10)

,Região,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
834,Europe,Espanha,Frutas,Offline,Alta,2012-12-06,262177836,2013-01-16,3103,9.33,6.92,28950.99,21472.76,7478.23
610,Europe,Reino Unido,Cosméticos,Online,Média,2012-12-14,692952191,2013-01-04,8807,437.20,263.33,3850420.40,2319147.31,1531273.09
1286,Europe,Suécia,Cereais,Online,Baixa,2016-05-29,407220542,2016-07-04,4463,205.70,117.11,918039.10,522661.93,395377.17
1240,Europe,Lituânia,Frutas,Online,Média,2011-03-09,965796363,2011-03-19,9461,9.33,6.92,88271.13,65470.12,22801.01
664,Europe,Eslováquia,Material de Escritório,Online,Crítica,2012-05-05,217248904,2012-06-15,7633,651.21,524.96,4970685.93,4007019.68,963666.25
911,Europe,Suíça,Vegetais,Online,Crítica,2012-10-04,670274865,2012-11-13,8082,154.06,90.93,1245112.92,734896.26,510216.66
325,Europe,Irlanda,Cuidados Pessoais,Offline,Baixa,2012-04-28,547225844,2012-05-30,5143,81.73,56.67,420337.39,291453.81,128883.58
91,Europe,Bósnia e Herzegovina,Material de Escritório,Offline,Crítica,2012-11-08,575583016,2012-11-24,6660,651.21,524.96,4337058.60,3496233.60,840825.00
1075,Europe,Romênia,Bebidas,Online,Alta,2016-05-31,253055322,2016-06-12,3548,47.45,31.79,168352.60,112790.92,55561.68
1,Europe,Bósnia e Herzegovina,Roupas,Online,Média,2013-10-14,919133651,2013-11-04,927,109.28,35.84,101302.56,33223.68,68078.88

In [204]:
df.isnull().sum()

Região                  0
País                    0
Tipo de Item            0
Canal de Vendas         0
Prioridade do Pedido    0
Data do Pedido          0
ID do Pedido            0
Data de Envio           0
Unidades Vendidas       0
Preço Unitário          0
Custo Unitário          0
Receita Total           0
Custo Total             0
Lucro Total             0
dtype: int64

In [205]:
# Substituir 'Data do Pedido' e 'Data de Envio' pelo formato brasileiro
df['Data do Pedido'] = df['Data do Pedido'].dt.strftime('%d/%m/%Y')
df['Data de Envio'] = df['Data de Envio'].dt.strftime('%d/%m/%Y')

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Região                1330 non-null   object
 1   País                  1330 non-null   object
 2   Tipo de Item          1330 non-null   object
 3   Canal de Vendas       1330 non-null   object
 4   Prioridade do Pedido  1330 non-null   object
 5   Data do Pedido        1330 non-null   object
 6   ID do Pedido          1330 non-null   int64
 7   Data de Envio         1330 non-null   object
 8   Unidades Vendidas     1330 non-null   int64
 9   Preço Unitário        1330 non-null   float64
 10  Custo Unitário        1330 non-null   float64
 11  Receita Total         1330 non-null   float64
 12  Custo Total           1330 non-null   float64
 13  Lucro Total           1330 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 145.6+ KB

In [207]:
df.sample(5)

,Região,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
144,Europe,Alemanha,Alimentos para Bebês,Online,Baixa,09/12/2014,405986297,02/01/2015,9222,255.28,159.42,2354192.16,1470171.24,884020.92
255,Europe,Macedônia,Produtos Domésticos,Offline,Baixa,13/10/2015,905509746,20/10/2015,9311,668.27,502.54,6222261.97,4679149.94,1543112.03
7,Europe,Luxemburgo,Vegetais,Offline,Baixa,13/02/2010,744683635,01/04/2010,7291,154.06,90.93,1123251.46,662970.63,460280.83
1268,Europe,Eslovênia,Cuidados Pessoais,Offline,Média,23/11/2014,700304019,21/12/2014,4376,81.73,56.67,357650.48,247987.92,109662.56
973,Europe,Países Baixos,Vegetais,Offline,Alta,12/03/2017,688698422,01/04/2017,22,154.06,90.93,3389.32,2000.46,1388.86

In [208]:
df = df.drop('Região', axis=1)

In [209]:
df.head()

,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
0,República Tcheca,Bebidas,Offline,Crítica,12/09/2011,478051030,29/09/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
1,Bósnia e Herzegovina,Roupas,Online,Média,14/10/2013,919133651,04/11/2013,927,109.28,35.84,101302.56,33223.68,68078.88
2,Áustria,Cereais,Offline,Crítica,13/08/2014,987410676,06/09/2014,5616,205.70,117.11,1155211.20,657689.76,497521.44
3,Bulgária,Material de Escritório,Online,Baixa,31/10/2010,672330081,29/11/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
4,Estônia,Frutas,Online,Baixa,28/09/2016,579463422,01/11/2016,4958,9.33,6.92,46258.14,34309.36,11948.78

In [210]:
# Lista de colunas do tipo float64 que precisam ser formatadas
colunas_float64 = ['Preço Unitário', 'Custo Unitário', 'Receita Total', 'Custo Total', 'Lucro Total']

# Aplicar a formatação nas colunas com mudança de (.) para (,) como separador de casas decimais
df[colunas_float64] = df[colunas_float64].apply(lambda x: x.apply(lambda y: f'{y:.2f}'.replace('.', ',')))

In [211]:
df.head()

,País,Tipo de Item,Canal de Vendas,Prioridade do Pedido,Data do Pedido,ID do Pedido,Data de Envio,Unidades Vendidas,Preço Unitário,Custo Unitário,Receita Total,Custo Total,Lucro Total
0,República Tcheca,Bebidas,Offline,Crítica,12/09/2011,478051030,29/09/2011,4778,"47,45","31,79","226716,10","151892,62","74823,48"
1,Bósnia e Herzegovina,Roupas,Online,Média,14/10/2013,919133651,04/11/2013,927,"109,28","35,84","101302,56","33223,68","68078,88"
2,Áustria,Cereais,Offline,Crítica,13/08/2014,987410676,06/09/2014,5616,"205,70","117,11","1155211,20","657689,76","497521,44"
3,Bulgária,Material de Escritório,Online,Baixa,31/10/2010,672330081,29/11/2010,6266,"651,21","524,96","4080481,86","3289399,36","791082,50"
4,Estônia,Frutas,Online,Baixa,28/09/2016,579463422,01/11/2016,4958,"9,33","6,92","46258,14","34309,36","11948,78"

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   País                  1330 non-null   object
 1   Tipo de Item          1330 non-null   object
 2   Canal de Vendas       1330 non-null   object
 3   Prioridade do Pedido  1330 non-null   object
 4   Data do Pedido        1330 non-null   object
 5   ID do Pedido          1330 non-null   int64
 6   Data de Envio         1330 non-null   object
 7   Unidades Vendidas     1330 non-null   int64
 8   Preço Unitário        1330 non-null   object
 9   Custo Unitário        1330 non-null   object
 10  Receita Total         1330 non-null   object
 11  Custo Total           1330 non-null   object
 12  Lucro Total           1330 non-null   object
dtypes: int64(2), object(11)
memory usage: 135.2+ KB

In [213]:
df.isnull().sum()

País                    0
Tipo de Item            0
Canal de Vendas         0
Prioridade do Pedido    0
Data do Pedido          0
ID do Pedido            0
Data de Envio           0
Unidades Vendidas       0
Preço Unitário          0
Custo Unitário          0
Receita Total           0
Custo Total             0
Lucro Total             0
dtype: int64

In [214]:
# Exportar DataFrame limpo para Excel
df.to_excel('dados_limpos.xlsx', index=False)